<div class="article">
  <h3>Name: <%= @article.title %></h3>
  <h4>Weight: <%= @article.content %></h4>
</div>

<form action="/articles/<%= @article.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" id="title" name="title">
    <input type="text" id="content" name="content">
    <input type="submit" id="submit" value="Submit">
</form>
