<h2> New Article </h2>

<form method=POST action='/articles'>
Title: <input type='string' name='title'>
<br>
Content: <input type='text' name='content'>
<br>
<input type='submit' value='Submit'>
</form>