<form action='/articles/:id' method= "POST">
  <label for="article">Title:</label><br>
  <input type="text" id="title" ><br>
  <label for="content">:</label><br>
  <textarea id="content"></textarea>
  <input type="submit" id="submit">
</form>


<form action="/articles" method="post">
<input type = "text" name="name" value="">
<textarea id="content"></textarea>
<input type = "submit" name="submit" value="">
</form