#new.erb 
<body>
<form action='/articles' method='post'>
    <label name='title'>Title</label><br>
    <input name='title'><br>
    <label name='content' value='content'>
    <textarea name='content'></textarea><br>
    <button type="submit" value="submit">Submit</button>
</form>
</body>